<% if error.errors.any? %>
 <div class="alert alert-danger" role="alert">
   <%= error.errors.count == 1 ? "Please correct the following error:": "Please correct the following #{pluralize(error.errors.count, 'error')}:" %>
   <ul>
     <% error.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
   </ul>
 </div>
 <% end %>
