<% provide(:title, 'All departments') %>
<table class='table table-hover'>
  <tr>
    <th>Department Name</th>
    <th class='center'>Edit</th>
    <th class='center'>Delete</th>
  </tr>
  <% @departments.each do |dep| %>
    <tr>
      <td><%= link_to dep.name, department_path(dep) %></td>
      <td class='center'><span><%= link_to '', edit_department_path(dep), class: 'glyphicon glyphicon-pencil' %></span></td>
      <td class='center'><span><%= link_to '', dep, class: 'glyphicon glyphicon-remove-circle', method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
    </tr>
  <% end %>
</table>
