<table>
  <tr>
    <th>Department Name</th>
    <th>Department Owner</th>
    <th></th>
    <th></th>
  </tr>
  <% @departments.each do |dep| %>
    <tr>
      <td><%= link_to dep.name, department_path(dep) %></td>
      <td><%= dep.get_owner %></td>
      <td><%= link_to 'Edit', edit_department_path(dep) %></td>
      <td><%= link_to 'Delete', dep, method: delete, data: { confirm: 'are you sure>' } %></td>
    </tr>
  <% end %>
</table>
