<div>
  <p>
    Name: <%= @department.name %><span><%= link_to 'Edit', edit_department_path(@department) %></span>
  </p>
  <p>
    Description: <%= @department.description %>
  </p>
  <p>
    Owner: <%= @department.get_owner %>
  </p>
</div>
