label {
  color: $font;
  position: relative;
  bottom: .2em;
  font-size: 1.5em;
}

textarea {
  resize: none;
}

form fieldset {
  position: relative;
  bottom: 30px;

  legend {
    margin-bottom: 30px;
  }
}

.form-control {
  border: 1px solid $font;
  border-radius: 6px;
  width: 60%;
}

.content {
  padding-top: 60px;
}

input[type='submit'] {
  margin-right: .8em;
}

input[type='checkbox'] {
  margin-top: .7em;
  margin-left: -.5em;
  margin-right: .2em;
}

.check {
  position: relative;
  bottom: .5em;
}

@media screen and (min-width: 1200px){
  input[type='checkbox'] {
    margin-top: .9em;
  }
}

div.submit {
  margin-top: 2em;
  margin-left: -1.2em;

  a {
    font-size: .9em;
  }

  @media screen and (max-width: 992px) {
    position: relative;
    top: 150px;
  }

  @media screen and (min-width: 992px) {
    margin-left: 8.5em;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 11em;
  }
}

div.form-group label {

  @media screen and (min-width: 992px) {
    font-size: .9em;
    margin-top: .2em;
    padding-left: 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.2em;
  }

}

.control-label {
  padding-top: .5em;
}

.check_here {
  position: relative;
  top: .1em;
}

.button {
  @include button;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px 15px;
  text-decoration: none;

  &:hover {
    @extend %button_hover;
  }
  &:active {
    @extend %button_active;
  }
  &:focus {
    color: white;
  }
}
