label {
  color: $font;
  font-size: 1.3em;
  position: relative;
  bottom: .2em;
}

textarea {
  resize: none;
}

.form-control {
  border: 1px solid $font;
  border-radius: 6px;
  width: 30%;
}

.content {
  padding-top: 60px;
}

input[type='submit'] {
  margin-right: .8em;
}

input[type='checkbox'] {
  margin-top: .7em;
}

div.submit {
  margin-top: 2em;
  margin-left: 17.8em;

  a {
    color: $font;
    font-size: .9em;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px dotted $font;
    color: $font;
  }
}

.control-label {
  padding-top: .5em;
}

.check_here {
  margin-left: .5em;
  position: relative;
  top: .2em;
}

.button {
  box-shadow: 1px 2px 3px 0px #899599;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $lightest_font), color-stop(1, $lightened_font));
  background: -moz-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -webkit-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -o-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -ms-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: linear-gradient(to bottom, $lightest_font 5%, $lightened_font 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightest_font', endColorstr='$lightened_font',GradientType=0);
  background-color: $lightest_font;
  border-radius: 12px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: $body;
  font-size: 1.1em;
  padding: 5px 15px;
  text-decoration: none;

  &:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $lightened_font), color-stop(1, $lightest_font));
    background: -moz-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
    background: -webkit-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
    background: -o-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
    background: -ms-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
    background: linear-gradient(to bottom, $lightened_font 5%, $lightest_font 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightened_font', endColorstr='$lightest_font',GradientType=0);
    background-color: $lightened_font;
  }
  &:active {
    position:relative;
    top:1px;
  }
}
