$body: #F9F6F4;
$font: #4F2412;
$lightened_font: lighten($font, 6.5%);
$lightest_font: lighten($font, 15%);

@mixin button($shadow: 1px 2px 3px 0px #899599) {
  box-shadow: $shadow;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $lightest_font), color-stop(1, $lightened_font));
  background: -moz-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -webkit-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -o-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: -ms-linear-gradient(top, $lightest_font 5%, $lightened_font 100%);
  background: linear-gradient(to bottom, $lightest_font 5%, $lightened_font 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightest_font', endColorstr='$lightened_font',GradientType=0);
  background-color: $lightest_font;
  border-radius: 12px;
  border: 1px solid #d6bcd6;
  color: white;
}

%button_hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $lightened_font), color-stop(1, $lightest_font));
  background: -moz-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
  background: -webkit-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
  background: -o-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
  background: -ms-linear-gradient(top, $lightened_font 5%, $lightest_font 100%);
  background: linear-gradient(to bottom, $lightened_font 5%, $lightest_font 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightened_font', endColorstr='$lightest_font',GradientType=0);
  background-color: $lightened_font;
}

%button_active {
  position: relative;
  top: 1px;
}

html {
  height: 100%;
}

body {
  background: $body;
  height: 100%;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.content {
  padding: 2em 5em;
  background: white;
  border-left: 2px solid $font;
  border-right: 2px solid $font;
  min-height: 100%;

  h3 {
    position: relative;
    bottom: 30px;
  }
}

a {
  color: $font;

  &:hover {
    text-decoration: none;
    border-bottom: 1px dotted $font;
    color: $font;
  }
}
