$header: #E9E0DB;
$body: #F9F6F4;
$font: #4F2412;
$lightened_font: lighten($font, 6.5%);
$lightest_font: lighten($font, 15%);

html {
  height: 100%;
  overflow: auto;
  position: relative;
}

body {
  background: $body;
  height: 100%;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.content {
  padding: 2em 5em;
  background: white;
  border-left: 2px solid $font;
  border-right: 2px solid $font;
  min-height: 100%;

  h3 {
    position: relative;
    bottom: 30px;
  }
}

a {
  color: $font;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px dotted $font;
  color: $font;
}
