.directs {
  margin-top: 40px;

  h3 {
    border-bottom: 1px solid #e5e5e5;
    width: 87%;
  }

  .reports {
    margin-top: -30px;
  }
}

.mainleft h1 {
  margin-bottom: 30px;
}

.mainright {
  margin-top: 40px;
}

.edit_delete {

  a {
    margin: 25px 15px 0 0;
    font-size: 1.3em;

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

}

.contact_details {
  font-size: 1.2em;
  margin-top: -20px;
}

.chain {
  margin-top: 15px;
}

.up_arrow {
  width: 230px;
}

.glyphicon-arrow-up {
  color: $font;
  font-size: 1.8em;
  text-align: center;
  width: 195px;
}

.badge {
  @include button;
  width: 200px;
  height: 45px;
  padding: 10px;
  margin: 10px 20px 10px 0;

  &:hover {
    @extend %button_hover;
    border: 1px solid #d6bcd6;
  }

  &:active {
    @extend %button_active;
  }
}
